<section class="py-5">
    <h1 class="display-3">
        Thank You 
    </h1>
    <p class="lead"> The footwear receipt will be emailed to you in an hour</p>
    <a href="/ " class="btn btn-dark btn-lag">Go Back Home</a>
</section>
